
<form method="POST" action="/">
<h2>Name:<input type="text" name="name"></h2>
<h2>Breed:<input type="text" name="breed"></h2>
<h2>Age:<input type="text" name="age"></h2>
<input type="submit" id="submit">
</form>